use.grid {
	opacity: 1;
	fill: #fff;
	stroke: #cdcdcd;
	stroke-width: 0.3;
}

use.text {
	font-size: 6px;
	font-family: Consolas, monospace;
	fill: #003399;
}

use.coordinates {
	font-size: 6px;
	font-family: Consolas, monospace;
	fill: #045FB4;
}

use.region {
	fill: #99CCFF;
}

use.axis {
	stroke: #045FB4;
	stroke-width: 0.6;
}

use.point {
	fill: #003399;
}
